table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table th {
    background-color: lightblue;
}
.hover_Row {
    background-color: yellow;
}
.clicked_Row {
    background-color: lightgreen;
}
